$mainColor: rgb(20, 205, 211);
$borderColor: solid rgb(112, 109, 109);
$pDcolor: rgb(12, 202, 161);
$textColor: rgb(33, 164, 168);
$artBack: rgb(241, 237, 237);
$ff: Helvetica sans-serif;
$backgroundColor:white;
$footerColor: silver;