$mainColor: rgb(221, 91, 5);
$borderColor: solid rgb(112, 109, 109);
$pDcolor: silver;
$textColor: rgb(106, 106, 124);
$artBack: rgb(255, 255, 255);
$ff: Georgia serif;
$backgroundColor: rgb(226, 221, 221);
$footerColor: rgb(146, 141, 141);